# Example environment variable overrides for run_triton.sh and clients
# Uncomment and modify as needed.

# NAME=triton-cv
# MODEL_REPOSITORY=$(pwd)/models
# PROM_CONTAINER=prometheus-mon
# GRAF_CONTAINER=grafana-viz

# HTTP_PORT=8000
# GRPC_PORT=8001
# METRICS_PORT=8002
# PROM_PORT=9090
# GRAF_PORT=3000

# For client connection
# TRITON_URL=localhost:8000
